<!DOCTYPE html>
<html lang="en">

<%-include('./partials/head.ejs')%>
<body>
    <h1>This is a home page</h1>
    <a href="./about">about</a>
    <% if(posts.length>0){ %>
        <%posts.forEach(post=>{%>
            <h1><%=post.title%></h1>
            <p><%=post.date%></p>
            <p><%=post.content%></p>
        <%})%>
    <% } %>
</body>
</html>